{% extends "base.html" %}

{% block content %}
<h2>What is Random Horror?</h2>
<p>
Random Horror is intended as a fun way to spurr the creation of short and creative horror
stories. Roll the dice to get random people, places and items and a plot device. Pick your
favourite set of results to get writing.
</p>

<p>
Submitted stories can be rated and enjoyed by other users.
</p>

<h3>Why no comments section?</h3>
<p>
Honestly? Because the Internet doesn't need yet another vector for spammers and cowardly
jerks to practice. Sometimes there simply doesn't need anything to be said.
</p>
{% endblock %}