<html>
    <head>
      {% for style in stylesheets %}<link rel="stylesheet" href="{{ url_for('static', filename=style) }}">{% endfor %}
      {% for script in scripts %}<script type="text/javascript" src="{{ url_for('static', filename=script) }}"></script>{% endfor %}      
      {% if title %}<title>{{ title }}</title>
      {% else %}<title>Random Horror</title>{% endif %}
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>