{% extends "base.html" %}

{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.roll_count.label }}<br>
            {{ form.roll_count(type='number') }}
        </p>
        <p>
            {{ form.rnd_items_count.label }}<br>
            {{ form.rnd_items_count(type='number') }}
        </p>
        <p>{{ form.remember_settings() }} {{ form.remeber_settings.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}