body {
	background-color:    #555;
	color:				 $ccc;
}

h1 {
	font-family:         monospace;
}

div#header {
	border-bottom:  1px solid black;
	margin:			20px;
}

div#content-div{

}


.roll-results {
	border: 1px solid black;
}

.roll-label {
	font-family: courier, monospace;
	font-variant: small-caps;
	font-size:   20px;
}

.roll-value {
	font-family: courier, monospace;
	font-size:   18px;
}


th {
	border-style: solid;
	border-width: 1;
	border-color: black;
}