body {
    background-color:    #555;
    color:               $ccc;
}

h1 {
    font-family:         monospace;
}

div#header {
    border-bottom:  1px solid black;
    margin:         20px;
}

div#content-div{

}


.roll-results {
    border: 1px solid black;
    overflow: hidden;
    min-width: 480px;
    max-width: 480px;
    padding:   5px;
    float: left;
}

.roll-label {
    font-family: Courier, monospace;
    font-variant: small-caps;
    font-size:   20px;
    float: left;
    clear: left;
}

.roll-value {
    font-family: Courier, monospace;
    font-size:   18px;
    float: right;
    clear: none;
}

.roll-choice-btn {
    font-size: 20px;
    font-weight: bold;
    font-family: Courier, monospace;
    padding: 3px;
    margin: 3px;
    float: left;
    clear: both;
}